<%= form_for @author, html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label(:name, class: "col-lg-2 control-label") %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label(:biography, class: "col-lg-2 control-label") %>
    <div class="col-lg-10">
      <%= text_area(:author, :biography, rows: 3, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <%= f.button 'Cancel', type: 'reset', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
