<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="well well-sm text-center">
      <h2>Happy to learn and Keep going !!</h2>
    </div>
  </div>
  <% if @books.present? %>
    <div id="masonry-container" class="col-md-12 transitions-enabled">
      <% @books.each do |book| %>
        <div class="grid-item">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <strong><%= book.title %></strong> <br>
              <%= image_tag book.cover.thumb.url, class: 'img-responsive img-center' %> <br>
              by <%= book.author.name %> <br>
              <%= number_to_currency(book.price) %><br><br>
              <%= link_to "Show", book_path(book), class: 'btn btn-sm btn-info' %>
              <%= link_to "Buy", book_path(book), class: 'btn btn-sm btn-warning' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>There are no book</p>
  <% end %>
</div>
